@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/LatoLight.eot');
	src: local('☺'), url('../fonts/LatoLight.woff') format('woff'), url('../fonts/LatoLight.ttf') format('truetype'), url('../fonts/LatoLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body,
html {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

body {
	background-color:#f7f7f7;
	font-family: lato, sans-serifs;
}



.container {
	max-width:1130px;
	padding:0 15px;
	margin:0 auto;
}

.wrapper {
	height:100%;
	height:100%;
	display:flex;
	flex-direction:column;
}


.header {
	flex:1 0 100%;
	background: url(../img/header/main.png) no-repeat;
	background-size:cover;
	background-position: center;

}

.header__row {
	display: flex;
	justify-content: center;
	align-items:center;
	height: 85px;
	margin-top:35px;
	position: relative;
}


.menu__list {
	display: flex;
	list-style:none;
	margin:0;
	padding:0;

}

.menu__link {
	padding:0 37.5px 7px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	color: #4d4959;
	text-decoration:none;
	position: relative;
	transition-duration:0.2s;
}

.menu__link:active {
	color:#64c29e;
}

.menu__link:before {
	content:"";
	height:1px;
	position:absolute;
	bottom:2px;
	background-color: #4d4959;
	opacity:0;
	transform:translateY(-5px);
	transition-duration:0.2s;
	
}

.menu__link:active:before {
	background-color:#64c29e;
}

.menu__link:hover:before {
	opacity:1;
	transform: translateY(0px);
}

.menu__link_first:before {
	left:37.5px;
	width:81px;
}

.menu__link_second:before {
	left:37.5px;
	width:50px;
}

.menu__link_third:before {
	left:110px;
	width:45px;
}

.menu__link_fourth:before {
	left:37.5px;
	width:77px;
}

.menu__link_second {
	padding-right:110px;
}

.menu__link_third {
	padding-left:110px;
}

.menu__link:after {
	content:"";
	width:2px;
	height: 2px;
	border-radius:50%;
	background-color: #4d4959;
	position:absolute;
	bottom:10px;
	right:-2px;
}

.menu__link_second:after,
.menu__link_fourth:after {
	display: none;
}

.header__logo {
	position:absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	z-index:6;
}

@media (max-width:767px) {

	body.lock {
		overflow:hidden;
	}

	.header__row {
		margin-top:15px;
	}

	.menu__icon {
		display:block;
		width:30px;
		height:18px;
		cursor:pointer;
		z-index:6;
		position:absolute;
		right:10px;
		top:30px;
	}

	.menu__icon span {
		display:block;
		width:100%;
		height:2px;
		background-color:#4d4959;
		z-index:100;
		transition-duration:0.5s;
	}

	.menu__icon span:nth-child(2) {
		margin-top:6px;
	}

	.menu__icon span:nth-child(3) {
		margin-top:6px;
	}

	.menu__icon.active span {
		background-color:white;
	}

	.menu__icon.active span:nth-child(2) {
		transform:scale(0);
	}

	.menu__icon.active span:nth-child(1) {
		margin:0;
		transform:translate(0px,10px) rotate(45deg) ;
	}

	.menu__icon.active span:nth-child(3) {
		margin:0;
		transform:rotate(-45deg) translate(0px, 0px);
	}

	.header__menu {
		position:fixed;
		left:0;
		width:100%;
		height:100%;
		background-color:#4d4959;
		padding:160px 0 0 0 ;
		box-sizing:border-box;
		overflow:auto;
		top:-100%;
		transition-duration:0.5s;
	}

	.header__menu.active {	
		top:0;	
	}

	.menu__list {
		flex-direction:column;
		justify-content:center;
		text-align: center;
	}

	.menu__link {
		display: block;
		color: white;
		font-size:20px;
		padding:0 0 35px 0;
	}

	.menu__link:active {
		color:white;
		text-decoration:underline;
	}

	.menu__link:active:before {
		display:none;
	}

	.menu__link_fourth{
		padding:0;
	}

	.menu__link:after {
		display:block;
		background-color: white;
		width:4px;
		height:4px;
		left:50%;
		transform:translateX(-50%);
		bottom:17px;
	}

	.menu__link_fourth:after {
		display: none;
	}
}

.generation {
	background-color: #f7f7f7;
	padding:120px 0;
}

@media (max-width:1400px) {
	.generation {
		padding:80px 0;
	}
}

@media (max-width:900px) {
	.generation {
		padding:45px 0;
	}
}

.generation__block {
	text-align: center;
}

.generation__icon {
	margin-bottom: 30px;
}

@media (max-width:1400px) {
	.generation__icon {
		margin-bottom:25px;
	}
}


@media (max-width:900px) {
	.generation__icon {
		margin-bottom:15px;
	}
}


.generation__title {
	color: #353738;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	margin-bottom: 20px;
}

@media (max-width:900px) {
	.generation__title {
		margin-bottom:15px;
	}
}

.generation__text {
	color: #848789;
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
}

.brands {
	background-color: #ffffff;
}

.brands__row {
	display: flex;
}

.brands__column_b {
	flex:1 1 66.666%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.brands__column_b_rev {
	order:2;
}

.brands__logo {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.brands__column_b_first {
	background-image: url(../img/brands/photos/first-brand-big.png);
}

.brands__column_b_second {
	background-image: url(../img/brands/photos/second-brand-big.png);
}

.brands__column_s {
	flex:1 1 33.333%;
	position: relative;
}

.brands__column_s_rev{
	order:1;
}

.block {
	text-align: center;
	padding:60px 68px 100px;
	position: relative;
}

@media(max-width:1400px) {
	.block {
		padding:40px 30px 60px;
	}
}

@media(max-width:900px) {
	.block {
		padding:30px 20px 60px;
	}
}

.block:after {
	content:"";
	width:14.142px;
	height:14.142px;
	background-color:white;
	transform:translate(-50%, 50%) rotate(45deg) ;
	position: absolute;
	left:50%;
	bottom:0;
	z-index:2;
}

.block__icon {
	margin-bottom: 25px;
}

@media(max-width:900px) {
	.block__icon {
		margin-bottom:15px;
	}
}

.block__title {
	color: #353738;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	margin-bottom:10px;
}

.block__text {
	color: #848789;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	position: relative;
	text-align:justify;
}

.block__text:after {
	content: "";
	width:50px;
	height: 1px;
	background-color: #353738;
	position: absolute;
	bottom: -40px;
	left:50%;
	transform: translateX(-50%);
}

@media(max-width:1400px) {
	.block__text:after {
		bottom:-25px;
	}
}

.brands__image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom:37.5%;
}

.brands__image_first {
	background-image: url(../img/brands/photos/first-brand-little.png);
}

.brands__image_second {
	background-image: url(../img/brands/photos/second-brand-little.png);
}

.brands__image_third {
	background-image: url(../img/brands/photos/third-brand-little.png);
}

.brands__column_s_hulot {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.brands__column_s_hulot_first {
	background-image: url(../img/brands/photos/third-brand-first.png);
}

.brands__column_s_hulot-third {
	background-image: url(../img/brands/photos/third-brand-third.png);
}


.slider-block {
	padding:124px 0 68px 0;
	background-color: #f7f7f7;
}

@media (max-width:1400px) {
	.slider-block {
		padding:82px 0 45px 0;
	}
}

@media (max-width:900px) {
	.slider-block {
		padding:41px 0 23px 0;
	}
}

.slider-block__row {
	display:flex;
	justify-content: center;
}

.slider {
	flex:0 1 1036px;
	height:300px;
	position:relative;
	overflow:hidden;
}

.slider__slides {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:flex;
	transition-duration:1s;
}

.slider__slide {
	flex:0 0 100%;
	text-align:center;
	margin-right:5%;
}

.slider__slide:last-child {
	margin-right:0;
}

.slider__dots {
	position:absolute;
	left:50%;
	bottom:13px;
	transform:translateX(-50%);
}

@media(max-width:405px) {
	.slider__dots {
		bottom:7px;
	}
}

.slider__dot {
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	border:1px solid #a9afb3;
	background-color:transparent;
	margin-right:9px;
	cursor:pointer;
}

.slider__dot.active {
	background-color:#a9afb3;
}

.slider__dot:last-child {
	margin-right:0;
}

.slider__icon {
	margin-bottom:30px;
}

@media(max-width:500px) {
	.slider__icon {
		margin-bottom:20px;
	}
}

.slider__title {
	color: #353738;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.8px;
	margin-bottom:20px;

}

@media(max-width:500px) {
	.slider__title {
		margin-bottom:16px;
	}
}

.slider__title span {
	color: #848789;
	font-family: "Lato - Light";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.8px;
}

.slider__text {
	color: #848789;
	font-family: Lato;
	font-size: 24px;
	font-style: italic;
	line-height: 34px;
}

@media (max-width:900px) {
	.slider__text {
		margin-bottom:50px;
	}
}

.link {
	position:absolute;
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(100, 194, 158, 0.7);
	opacity:0;
	text-decoration: none;
	transition-duration:0.5s;
}

.link:hover {
	opacity:1;
}

.link__shop-now {
	margin-top:14px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

.shop__row {
	display: flex;
}


.shop__column_b {
	flex: 1 1 33.333%;
}

.block-shop__row {
	display:flex;
}

.block-shop__column {
	flex:1 1 50%;
	padding-bottom:50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.block-shop__column_first {
	background-image:url(../img/shop/1.png);
}

.block-shop__column_second {
	background-image:url(../img/shop/2.png);
}

.block-shop__column_seventh {
	background-image:url(../img/shop/7.png);
}

.block-shop__column_eighth {
	background-image:url(../img/shop/8.png);
}

.block-shop__item {
	padding-bottom:50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.block-shop__item_third {
	background-image:url(../img/shop/3.png);
}

.block-shop__item_sixth {
	background-image:url(../img/shop/6.png);
}

.shop__column_s {
	flex:1 1 16.666%;
}

.block-shop_s {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom:200%;
	position: relative;
}

.block-shop_s_fourth {
	background-image:url(../img/shop/4.png);
}

.block-shop_s_fifth {
	background-image:url(../img/shop/5.png);
}

.shop__footer {
	background-color: #282f35;
	padding: 75px 0;
	text-align:center;
}

.shop__btn {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	line-height: 100%;
	text-decoration: none;
	padding: 19px 55px;
	cursor: pointer
}

@media(max-width:992px) {
	.shop__footer {
		padding:50px 0;
	}

	.shop__btn {
		padding:20px 30px;
	}
}

.subscribe {
	padding:110px 0;
	background-color:#ffffff;
}

@media(max-width:992px) {
	.subscribe {
		padding:50px 0;
	}
}

.subscribe__container {
	max-width:530px;
	text-align:center;
}

.subscribe__logo {
	margin-bottom:30px;
}

.subscribe__label {
	color: #848789;
	font-size: 24px;
	font-style: italic;
	line-height: 34px;
	margin-bottom: 27px;
}

.subscribe__form {
	display:flex;
}

.subscribe__input {
	flex:1 1 auto;
	padding:0 10px 0 0 ;
	height:69px;
}

.subscribe__input input {
	height:100%;
	width:100%;
	padding:0 0 0 28px;
	box-sizing: border-box;
	border: 1px solid #d3d7d9;
	color: #929292;
	font-family: Lato;
	font-size: 20px;
	font-style: italic;
	line-height: 24px;
}

.subscribe__button {
	flex:0 0 126px;
	height: 69px;
}

.subscribe__btn {
	width: 100%;
	height: 100%;
	background-color: #64c29e;
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	text-transform: uppercase;
	border:none;
	cursor:pointer;
	position: relative;
}

.subscribe__btn span {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}

.footer {
	padding:100px 0;
	background-color:#f7f7f7;
}

@media(max-width:992px) {
	.footer {
		padding:50px 0;
	}
}

.footer__row {
	display: flex;
	align-items: center;
}


.footer__column {
	flex:1 1 33.333%;
}

.footer__contacts {
	color: #848789;
	font-size: 14px;
	line-height: 18px;
}

.footer__contacts div:nth-child(1) {
	font-weight:700;
}


.footer__social {
	display: flex;
	justify-content: center;
}

.social__link {
	margin: 0 7.5px;
	cursor:pointer;
}

.footer__dev {
	display:flex;
	justify-content: flex-end;
	align-items:center;
	text-decoration:none;
	cursor:pointer;
}

.dev__text {
	color: #848789;
	font-size: 14px;
	font-style: italic;
	line-height: 17.87px;
	padding:0 9px 0 0;

}

@media(max-width:992px) {
	.brands__row {
		flex-direction: column;
	}

	.brands__column_b {
		padding-bottom:70%;
	}
	.brands__column_s_hulot {
		padding-bottom:70%;
	}

	.brands__column_s_hulot_first {
		order:2;
	}

	.brands__column_s_hulot-third {
		order: 3;
	}

	.shop__row {
		flex-wrap: wrap;
	}

	.shop__column {
		flex:0 1 50%;
	}

	.shop__column:first-child {
		flex: 1 1 100%;
	}

	.shop__column:last-child {
		flex: 1 1 100%;
	}


}


@media(max-width:769px) {
	

	.subscribe__form {
		flex-direction: column;

	}

	.subscribe__input {
		padding:0 0 10px 0;
	}

	.subscribe__button {
		flex: 1 1 auto;
	}

	.footer__row {
		flex-direction: column;
		align-items: center;
	}

	.footer__contacts {
		text-align: center;
		margin-bottom:15px;
	}

	.social {
		margin:15px 0;
	}

}